<%- include ("./partials/head.ejs") %>
    <div class="container">
        <div class="artist">
            <div id="name">
                <h1>TWY</h1>
            </div>
            <div id="pfp">
                <img src="img/TWY.png" alt="Artist TWY">
            </div>
        </div>
        <div class="chat">
            <ul class="chat_messages">
                <li class="message twy">
                    <p class="text_meta">
                        <span>TWY</span>
                    </p>
                    <p class="text">
                        <span>Hey what’s up! You must be one of my many fans, where would you like to talk about?</span>
                    </p>
                </li>
                <li class="message you">
                    <p class="text_meta">
                        <span>YOU</span>
                    </p>
                    <p class="text">
                        <span>Hey I'm fine, and you?</span>
                    </p>
                </li>
                <li class="message twy">
                    <p class="text_meta">
                        <span>TWY</span>
                    </p>
                    <p class="text">
                        <span>I’m fine, thank you for asking!</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="send_message">
            <form action="">
                <input id="textInput" type="text"><input id="inputBtn" type="submit">
                <!-- <input type="text" id="message">
                <button id="send-button">
                        <span>></span>
                      </button>
                <button id="mic-button">
                         <svg viewBox="0 0 440 440" fill="black">
                             <g>
                                 <path d="M356.864,224.768c0-8.704-6.656-15.36-15.36-15.36s-15.36,6.656-15.36,15.36c0,59.904-48.64,108.544-108.544,108.544
                                     c-59.904,0-108.544-48.64-108.544-108.544c0-8.704-6.656-15.36-15.36-15.36c-8.704,0-15.36,6.656-15.36,15.36
                                     c0,71.168,53.248,131.072,123.904,138.752v40.96h-55.808c-8.704,0-15.36,6.656-15.36,15.36s6.656,15.36,15.36,15.36h142.336
                                     c8.704,0,15.36-6.656,15.36-15.36s-6.656-15.36-15.36-15.36H232.96v-40.96C303.616,355.84,356.864,295.936,356.864,224.768z"/>
                             </g>
                             <g>
                                 <path d="M217.6,0c-47.104,0-85.504,38.4-85.504,85.504v138.752c0,47.616,38.4,85.504,85.504,86.016
                                     c47.104,0,85.504-38.4,85.504-85.504V85.504C303.104,38.4,264.704,0,217.6,0z"/>
                             </g>
                         </svg>
                      </button> -->
            </form>
        </div>

    </div>
    <%- include ("./partials/footer.ejs") %>