<%- include ("./partials/head.ejs") %>
    <div class="container">
        <div class="twy-image">
        </div>
        <div class="lightsaber">
            <div class="blade"></div>
        </div>
        <div class="chat">
            <ul class="chat_messages">
                <li class="message twy">
                    <p class="text_meta">
                        TWY
                    </p>
                    <p class="text">
                        <span>
                            Hey what’s up! You must be one of my many fans, where would you like to talk about?
                        </span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="send_message_wrapper">
            <div data-augmented-ui="tl-clip tr-2-clip-x border" class="send_message">
                <form id="gameForm">
                    <input id="textInput" type="text" data-augmented-ui="bl-clip br-clip" placeholder="Tekst">
                    <button class="inputBtn" id="btnAnswer" data-augmented-ui="bl-clip">Verstuur</button>
                    <button class="inputBtn" id="btnVoice" data-augmented-ui="tr-clip br-clip">Opnemen</button>
                    <button class="inputBtn" id="btnPause" data-augmented-ui="tr-clip bl-clip">Pause</button>
                    <button class="inputBtn" id="btnPlay" data-augmented-ui="tl-clip">Play</button>
                </form>
            </div>
        </div>
    </div>
    <%- include ("./partials/footer.ejs") %>