@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

:root {
	--cyan: #35e6de;
	--lightcyan: #77fff9;
	--darkpurple: #8b53c5;
	--lightpurple: #d2abf3;
	--lightpink: #e1adef;
	--pink: #e688ff;
	--neonyellow: #fbff28;
	--neongreen: #c6ff49;
	--blade-hue: 120;
	--blade-lightness: 50%;
}

html {
	background: white;
}

body {
	font-family: 'Jura', sans-serif;
	/* background: #f6e9f0 url('../img/background.jpg'); */
	background: white;
	background-repeat: no-repeat;
}

header {
	display: none;
}

.container {
	background: black;
	width: 100%;
	max-width: 414px;
	height: 100vh;
	/* max-height: 736px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

a {
	color: #a1e807;
}

textarea:focus,
input:focus {
	outline: none;
}

/* ARTIST PROFILE */

.twy-image {
	position: relative;
	height: 230px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-image: url('../img/twy.png'),
		linear-gradient(0deg, rgba(0, 0, 0, 0) -50%, rgba(0, 0, 0, 1) 75%);
	transition: box-shadow 50ms ease-in-out;
	animation-name: picture;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

#pfp {
	position: relative;
	height: 30%;
	width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	top: -50;
}

#pfp::after {
	/* content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgb(53, 230, 222);
    background: linear-gradient(0deg, rgba(53, 230, 222, 1) 0%, rgba(53, 230, 222, 0) 100%); */
	content: '';
	background-image: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(106, 224, 234, 1) 71%,
		rgba(106, 224, 234, 1) 100%
	);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

/* MESSAGES */

ul {
	/* background: black;
    width: 100%;
    padding: .2em; */
	list-style-type: none;
	height: 500px;
	max-height: 500px;
	overflow-y: auto;
	/* position: fixed; */
	/* overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    bottom: 0;
    top: 0;
    left: 0;
    padding-bottom: 5em;
    padding-top: 14.73rem; */
	z-index: -1;
}

ul::-webkit-scrollbar {
	display: none;
}

li:last-child {
	margin-bottom: 5em;
}

.message {
	background: white;
	color: black;
	margin: 1rem 1.5rem;
	padding: 0.5rem 1rem;
}

.twy {
	background: black;
	box-shadow: inset 0 0 4px hsl(176deg 70% 50%),
		0 0 1em hsl(176deg 70% 50% / 80%);
	text-shadow: 2px 3px 5px hsl(176deg 70% 50%);
	color: white;
	animation: glitch 0.4s linear;
}

.twy:hover {
	transform-origin: bottom;
	animation-name: glitch;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}

@keyframes glitch {
	0% {
		text-shadow: 5px 2px 0 hsl(176deg 70% 50%),
			-5px -2px 0 hsl(273deg 75% 81%);
	}
	50% {
		text-shadow: 6px 2px 0 hsl(176deg 70% 50%),
			-6px -2px 0 hsl(273deg 75% 81%);
	}
	75% {
		text-shadow: 4px 2px 0 hsl(176deg 70% 50%),
			-4px -2px 0 hsl(273deg 75% 81%);
	}
	100% {
		text-shadow: 5px 2px 0 hsl(176deg 70% 50%),
			-5px -2px 0 hsl(273deg 75% 81%);
	}
}

/* Add glitch effect */

.you {
	/* background: white;
    text-align: right;
    box-shadow: inset 0 0 15px hsl(79deg 100% 64%), 0 0 1em hsl(79deg 100% 64% / 80%); */
	background: black;
	box-shadow: inset 0 0 4px hsl(79deg 100% 64%),
		0 0 1em hsl(79deg 100% 64% / 80%);
	text-shadow: 2px 3px 5px hsl(79deg 100% 64%);
	color: white;
	text-align: right;
}

.text_meta {
	font-size: 1.2rem;
}

/* MESSAGE INPUT */

div.send_message {
	--aug-border-bg: white;
	position: absolute;
	background: var(--neonyellow);
	width: 100%;
	bottom: 0;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#textInput {
	background: var(--lightpurple);
	color: black;
	border: none;
	font-size: 1rem;
	padding: 0.8rem;
	width: 11.5rem;
}

.inputBtn {
	padding: 0.9rem;
	border: none;
}

#talk {
	border: none;
	width: 10rem;
	height: 3.4rem;
	cursor: pointer;
	background: #a1a30c;
}

#talk:before {
	background-image: url(../img/microphone.svg);
	background-size: 40px 30px;
	display: inline-block;
	width: 40px;
	height: 30px;
	content: '';
}

#pause {
	border: none;
	width: 10rem;
	height: 3.4rem;
	cursor: pointer;
	background: #a1a30c;
}

#pause:before {
	background-image: url('../img/pause.svg');
	background-size: 40px 30px;
	display: inline-block;
	width: 40px;
	height: 30px;
	content: '';
}

#play {
	border: none;
	width: 10rem;
	height: 3.4rem;
	cursor: pointer;
	background: #a1a30c;
}

#play:before {
	background-image: url('../img/play.svg');
	background-size: 40px 30px;
	display: inline-block;
	width: 40px;
	height: 30px;
	content: '';
}

#buttonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inactive {
	display: none;
}

/* button img {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
} */

/* 769px (desktop) versie */

.blade {
	background: white;
	height: 0.6rem;
	width: 100%;
	left: 0;
	transition: box-shadow 1s ease-in-out;
	transform-origin: bottom;
	animation-name: blade;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.blade::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	filter: blur(0.5em);
	opacity: 1;
}

.blade::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
	border-radius: inherit;
	z-index: 10;
}

@keyframes blade {
	0% {
		box-shadow: inset 0 0 4px hsl(176deg 70% 50%),
			0 0 1em hsla(176deg 70% 50% / 80%),
			0 0 1.5em hsla(176deg 70% 50% / 70%),
			0 0 2em hsla(176deg 70% 50% / 50%),
			0 0 3em hsla(176deg 70% 50% / 30%),
			0 0 5em hsla(176deg 70% 50% / 20%);
	}
	25% {
		box-shadow: inset 0 0 4px hsl(79deg 100% 64%),
			0 0 1em hsla(79deg 100% 64% / 80%),
			0 0 1.5em hsla(79deg 100% 64% / 70%),
			0 0 2em hsla(79deg 100% 64% / 50%),
			0 0 3em hsla(79deg 100% 64% / 30%),
			0 0 5em hsla(79deg 100% 64% / 20%);
	}
	50% {
		box-shadow: inset 0 0 4px hsl(273deg 75% 81%),
			0 0 1em hsla(273deg 75% 81% / 80%),
			0 0 1.5em hsla(273deg 75% 81% / 70%),
			0 0 2em hsla(273deg 75% 81% / 50%),
			0 0 3em hsla(273deg 75% 81% / 30%),
			0 0 5em hsla(273deg 75% 81% / 20%);
	}
	75% {
		box-shadow: inset 0 0 4px hsl(61deg 100% 58%),
			0 0 1em hsla(61deg 100% 58% / 80%),
			0 0 1.5em hsla(61deg 100% 58% / 70%),
			0 0 2em hsla(61deg 100% 58% / 50%),
			0 0 3em hsla(61deg 100% 58% / 30%),
			0 0 5em hsla(61deg 100% 58% / 20%);
	}
	100% {
		box-shadow: inset 0 0 4px hsl(176deg 70% 50%),
			0 0 1em hsla(176deg 70% 50% / 80%),
			0 0 1.5em hsla(176deg 70% 50% / 70%),
			0 0 2em hsla(176deg 70% 50% / 50%),
			0 0 3em hsla(176deg 70% 50% / 30%),
			0 0 5em hsla(176deg 70% 50% / 20%);
	}
}

@keyframes picture {
	0% {
		box-shadow: inset 0 -60px 60px -30px hsl(176deg 70% 50%);
	}
	25% {
		box-shadow: inset 0 -80px 60px -30px hsl(79deg 100% 64%);
	}
	50% {
		box-shadow: inset 0 -40px 60px -30px hsl(273deg 75% 81%);
	}
	75% {
		box-shadow: inset 0 -80px 60px -30px hsl(61deg 100% 58%);
	}
	100% {
		box-shadow: inset 0 -60px 60px -30px hsl(176deg 70% 50%);
	}
}

@media screen and (min-width: 700px) {
	header {
		display: flex;
	}
	.container {
		height: 90vh;
		margin: 0 auto;
	}
}

/* Blauw HSL = hsl(176deg 70% 50%) */

/* Groen HSL = hsl(176deg 70% 50%) */

/* Lightpurple HSL = hsl(273deg 75% 81%) */

/* Geel HSL = hsl(61deg 100% 58%) */

/* Blauw RGBA = rgba(38, 217, 205, 1) */

/* Blauw RGBA = rgba(197, 255, 71, 1) */

/* Lightpurple RGBA = rgba(210, 170, 243, 1) */

/* Geel RGBA = rgba(251, 255, 40, 1) */
