* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
}

button {
    margin-top: 1rem;
}

p {
    color: white;
}

.twy-image {
    position: relative;
    height: 230px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) -50%, rgba(0, 0, 0, 1) 75%);
    transition: box-shadow 50ms ease-in-out;
    animation-name: picture;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

.blade {
    position: absolute;
    background: white;
    height: 0.6rem;
    width: 100%;
    left: 0;
    transition: box-shadow 1s ease-in-out;
    transform-origin: bottom;
}

.blade::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    filter: blur(0.5em);
    opacity: 1;
}

.blade::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    border-radius: inherit;
    z-index: 10;
}

.blade {
    animation-name: blade;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

/* .picture {
    animation-name: picture;
    animation-duration: .7s;
    animation-iteration-count: infinite;
} */

.picture {
    animation-name: wrong;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

@keyframes blade {
    0% {
        box-shadow: inset 0 0 4px hsl(176deg 70% 50%), 0 0 1em hsla(176deg 70% 50% / 80%), 0 0 1.5em hsla(176deg 70% 50% / 70%), 0 0 2em hsla(176deg 70% 50% / 50%), 0 0 3em hsla(176deg 70% 50% / 30%), 0 0 5em hsla(176deg 70% 50% / 20%);
    }
    25% {
        box-shadow: inset 0 0 4px hsl(79deg 100% 64%), 0 0 1em hsla(79deg 100% 64% / 80%), 0 0 1.5em hsla(79deg 100% 64% / 70%), 0 0 2em hsla(79deg 100% 64% / 50%), 0 0 3em hsla(79deg 100% 64% / 30%), 0 0 5em hsla(79deg 100% 64% / 20%);
    }
    50% {
        box-shadow: inset 0 0 4px hsl(273deg 75% 81%), 0 0 1em hsla(273deg 75% 81% / 80%), 0 0 1.5em hsla(273deg 75% 81% / 70%), 0 0 2em hsla(273deg 75% 81% / 50%), 0 0 3em hsla(273deg 75% 81% / 30%), 0 0 5em hsla(273deg 75% 81% / 20%);
    }
    75% {
        box-shadow: inset 0 0 4px hsl(61deg 100% 58%), 0 0 1em hsla(61deg 100% 58% / 80%), 0 0 1.5em hsla(61deg 100% 58% / 70%), 0 0 2em hsla(61deg 100% 58% / 50%), 0 0 3em hsla(61deg 100% 58% / 30%), 0 0 5em hsla(61deg 100% 58% / 20%);
    }
    100% {
        box-shadow: inset 0 0 4px hsl(176deg 70% 50%), 0 0 1em hsla(176deg 70% 50% / 80%), 0 0 1.5em hsla(176deg 70% 50% / 70%), 0 0 2em hsla(176deg 70% 50% / 50%), 0 0 3em hsla(176deg 70% 50% / 30%), 0 0 5em hsla(176deg 70% 50% / 20%);
    }
}

@keyframes picture {
    0% {
        box-shadow: inset 0 -60px 60px -30px hsl(176deg 70% 50%);
    }
    25% {
        box-shadow: inset 0 -80px 60px -30px hsl(79deg 100% 64%);
    }
    50% {
        box-shadow: inset 0 -40px 60px -30px hsl(273deg 75% 81%);
    }
    75% {
        box-shadow: inset 0 -80px 60px -30px hsl(61deg 100% 58%);
    }
    100% {
        box-shadow: inset 0 -60px 60px -30px hsl(176deg 70% 50%);
    }
}

@keyframes wrong {
    0% {
        box-shadow: inset 0 -80px 60px -30px red;
    }
    
    100% {
        box-shadow: inset 0 -30px 60px -30px red;
    }
}